<% if @user %>
    <h1>Followers of <%= @user.username %></h1>

    <% if @posts %>
        <% @posts.order(id: :desc).each do |post| %>
            <%= render "posts/show", p: post %>
        <% end %>
    <% else %>
        No posts.
    <% end %>
<% else %>
    <h1>Sorry, user does not exist.</h1>
<% end %>