<div class="row">
  <div class="col-lg-9">
    <% if @user %>
      <h2>Followed by <%= @user.username %></h2>

      <% if @posts %>
        <% @posts.order(id: :desc).each do |post| %>
          <%= render "posts/show", p: post %>
        <% end %>
      <% else %>
        No posts.
      <% end %>

    <% else %>
      <h2>Sorry, user does not exist.</h2>
    <% end %>
  </div>
  <div class="col-lg-3">
    <div class="affix menu_right">
      <%= link_to 'New', new_post_path %><br>
    </div>
  </div>
</div>
<script type="text/javascript">
    setActive("li-followed");
</script>