<% if @user %>
  <h1><%= @user.username %></h1>

  <% @user.posts.order(id: :desc).each do |post| %>
    <%= render "posts/show", p: post %>
  <% end %>
<% else %>
  <h1>Sorry, user does not exist.</h1>
<% end %>